<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Grade de Horários - Corte em Dia</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='svg/logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/abrir_agenda.css') }}">
</head>
<body>
    {% include 'partials/sidebar.html' %}

    <div class="content">
        <h1>Grade de Horários</h1>
        <div class="form-container">
            <div class="filtros-container">
                <div class="form-group">
                    <label for="selectProfissional">Profissional:</label>
                    <select id="selectProfissional">
                        <option value="">Selecione...</option>
                        {% for prof_id, prof_data in profissionais.items() %}
                            <option value="{{ prof_id }}">{{ prof_data.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="dataInicioFiltro">Período de:</label>
                    <input type="date" id="dataInicioFiltro">
                </div>
                <div class="form-group">
                    <label for="dataFimFiltro">Até:</label>
                    <input type="date" id="dataFimFiltro">
                </div>
                <button id="btnFiltrarGrade" class="btn-filtrar">Buscar</button>
                <button id="btnAbrirModalInclusao" class="btn-principal" style="margin-left: auto;">Incluir Grade</button>
            </div>

            <div id="gradeVigenteContainer" class="grade-vigente-container">
                <p style="width: 500px;">Selecione um profissional e um período para ver a grade de horários.</p>
            </div>
        </div>
    </div>

    {% include 'partials/_modal_incluir_grade.html' %}
    

    <script type="module" src="{{ url_for('static', filename='js/abrir_agenda.js') }}"></script>
</body>
</html>